// colors
$primary-clr: hsl(176, 50%, 47%);
$primary-clr-alt: hsl(176, 72%, 28%);
$neutral-clr: hsl(0, 0%, 0%);
$neutral-clr-seconery: hsl(0, 0%, 90%);
$neutral-clr-alt: hsl(0, 0%, 48%);
$white-clr: hsl(0, 0%, 100%);
// font family
$font-family: "Commissioner", sans-serif;